<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./static/stile_carta.css">
    <title>Página de Login</title>
</head>
	<body>
		<section class="area_login">
			<div class="login">
				<form action="carta" method = "POST">
				<H1>Gerador de Cartas</h1>
					<input type="date" id="data" name="data" placeholder="Data"></p>
					<input type="email" id="destinatario" name="destinatario" placeholder="Destinatario"></p>
					<textarea id="mensagem" name="mensagem" placeholder="Mensagem" rows="3">
						</textarea></p>
					<input type="email" id="remetente" name="remetente" placeholder="Remetente"></p>
				<input type="submit" value="Gerar Carta">
			</div>			
		</form>
	</body>
</html>

