<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./static/stile_login.css">
    <title>Página de Login</title>
</head>
<body>
    <section class="area_login">
        <div class="login">
            <h1>Logar</h1>
            <form method="POST">
                <label for="usuario"></label>
                <input type="text" id="usuario" name="usuario" placeholder="Usuário" required><br>

                <label for="senha"></label>
                <input type="password" id="senha" name="senha" placeholder="Senha" required><br>
                    <input type="submit" value="ENTRAR">  
            </form>   
        </div>            
    </section>
</body>

</html>
